

html, body { height: 100%; }

#wrapper { height: 100%; width: 100%; min-height: 100%; z-index: 5; background: transparent; }

.circle { z-index: 10; display: block; position: absolute; top: 0; left: 0; width: 2px; height: 2px; border-radius: 1000px; opacity: 0; }

		body {
			padding: 0;
			margin: 0;
		}
		#top {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background-color: #3B2A3A;
			z-index: 1;
		}
		#middle {
			position: absolute;
			left: 0;
			width: 100%;
			background-color: #8C3F47;
			z-index: 2;
		}
		#bottom {
			position: absolute;
			left: 0;
			width: 100%;
			background-color: #C73442;
			z-index: 3;
		}
		
}

