
html, body { height: 100%; }
body { background-color: #000000; }

#wrapper { min-height: 100%; }


.circle { position: absolute; top: 0; left: 0; width: 2px; height: 2px; border-radius: 1000px; opacity: 0; }
